<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalkulačka</title>
    <script src="../static/script.js"></script>
</head>
<body>
    <h1>Kalkulačka</h1>
    <input type="number" id="number1">
    <select id="operation">
        <option value="add">Scitanie</option>
        <option value="subtract">Odcitanie</option>
        <option value="multiply">Nasobenie</option>
        <option value="divide">Delenie</option>
    </select>
    <input type="number" id="number2">
    <button onclick="calculate()">Vypočítať</button>
    <p id="result"></p>

    <script>

    </script>
</body>
</html>
