<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do list</title>
    <script src="../static/to do list.js"></script>
    <style>
        /* Štýly pre úlohy */
        .task {
            margin-bottom: 5px;
        }

        /* Štýly pre tlačidlo "Odstrániť" */
        .remove-button {
            background-color: green;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>To-do List</h1>
    <input type="text" id="taskInput" placeholder="Zadajte novú úlohu">
    <button onclick="addTask()">Pridať úlohu</button>
    <div id="taskList"></div>

    <script>

    </script>
</body>
</html>
